<div class="centering">
  <h1>Posts#show</h1>
  <p>Find me in app/views/posts/show.html.erb</p>
  <div>
    <%= @post.title %>
  </div>
  <div>
    <%= @post.genre %>
  </div>
  <div>
    <%= (sanitize @post.content).html_safe %>
  </div>
  <%= link_to 'ストーリー一覧に戻る', posts_path %>
</div>

